<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/dictionary/index.css">
</head>
<body class="max-w-5xl mx-auto">
    <!-- SM Fullscreen -->
    <!-- Navbar -->
    <nav class="py-8 px-2 mb-2 flex flex-row justify-between items-center">
        <!-- Logo -->
        <h2 class="text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl">My Dictionary</h2>
        <!-- Back to Home page -->
        <a href="/" class="cursor-pointer whitespace-nowrap bg-transparent rounded-xl border border-gray-700 px-4 py-2 text-sm font-medium tracking-wide text-gray-700 transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-700 active:opacity-100 active:outline-offset-0">Home Page</button>
            </a>
    </nav>
    <!-- Search bar -->
    <div class="py-2 mt-4 flex justify-center items-center w-full">
        <form action="/dictionary/search" method="post" class="w-full">
            <div class="relative flex w-full flex-col text-gray-700">
                <input type="search" class="w-full rounded-xl border border-gray-300 bg-gray-100 py-4 pl-4 pr-2 text-sm" name="word" placeholder="Search" aria-label="search"/>
            </div>
        </form>
    </div>
    <!-- Carousel or list for last searches-->

  
        
  </section>

</body>
</html>