<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Overview</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 mx-4">

    <!-- Container for header -->
    <div class="container max-w-3xl my-12 p-2 mx-auto text-white">
        <div class="flex items-center justify-between">
            <!-- First vertical flex for no. of invoice -->
            <div class="flex-flex-col space-y-3">
                <h2 class="text-4xl tracking-wide font-bold">Invoices</h2>
                <p class="text-sm">There are a total of invoices</p> <!-- TODO DYNAMIC COUNT -->
            </div>
            <!-- Filter -->
            <div class="flex flex-row space-x-4">
                <select name="filterStatus" id="filterStatus" class="text-white px-4 bg-black border-white focus:outline-none">
                    <option value="">Paid</option>
                    <option value="">Open</option>
                    <option value="">Draft</option>
                </select>
                <!-- Button to add new invoice -->
                <button onclick="toggleModal(true)" class="py-2 px-4 bg-violet-700 rounded-full hover:opacity-70">New Invoice</button>
            </div>
        </div>    
    </div>

    <!-- Table -->
    <!-- TODO JINJA TEMPLATE -->
    {% for invoice in invoices %}
    <div class="container max-w-3xl mx-auto px-4 py-8 rounded-xl bg-slate-800 text-sm text-white">
        <div class="flex flex-row items-center justify-between">
            <h2>#<span class="font-bold">{{invoice.invoice_num}}</span></h2>
            <h3>Due at </h3>
            <h3>To: {{invoice.receiver_address}}</h3>
            <h3>$ {{invoice.invoice_amount}}</h3>
            <div>{{invoice.invoice_status}}</div> <!-- TODO MAKE THIS DYNAMIC -->
            <button onclick="openSidebar('{{ invoice.id }}')" class="text-violet-400 font-bold text-lg">></button> <!-- TODO toggle navbar -->
        </div>
        <!-- Side bar for CRUD, triggered by each accordion -->
        <!-- TODO EDIT BUTTON FOR IND. Element -->
        <div id="sidebar-{{ invoice.id }}" class="fixed inset-0 transform -translate-x-full transition-transform duration-300 ease-in-out w-full sm:w-72 bg-gray-700 p-4 z-50">
            <!-- Close button at the top right corner -->
            <button onclick="closeSidebar('{{ invoice.id }}')" class="absolute top-0 left-2 mt-2 mr-2 font-extrabold text-violet-300 hover:text-violet-600">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <!-- The form for /update -->
            <div class="max-h-screen overflow-y-auto">
            <form action="/invoice/update" method="POST"  class="my-8 text-white  ">
                <label for="Invoice Number"> Invoice Number(Read Only)</label>
                <input type="text" id="invoice_num" name="invoice_num" placeholder="Read Only Invoice number" class="block w-full mb-3 px-3 py-2 border rounded text-black" value="{{invoice.invoice_num}}" readonly>
                <label for="Invoice Receiver Address"> Receiver Address</label>
                <input type="text" id="receiver_address" maxlength="3" name="receiver_address" placeholder="Receiver Address" class="block w-full mb-3 px-3 py-2 border rounded text-black" value="{{invoice.receiver_address}}" required>
                <label for="Invoice Receiver Address"> Sender Address</label>
                <input type="text" id="sender_address" name="sender_address" maxlength="3" placeholder="Sender Address" class="block w-full mb-3 px-3 py-2 border rounded text-black" value="{{invoice.receiver_address}}" required>
                <label for="Invoice Status"> Invoice Status</label>
                <select name="invoice_status" id="invoice_status" class="block w-full mb-3 px-3 py-2 border rounded text-black">
                    <option value="Paid">Paid</option>
                    <option value="Open">Open</option>
                    <option value="Draft">Draft</option>
                </select>
                <div>
                    {% for item in invoice.items %}
                    <div class="item my-4">
                        <label for="Item Description"> Item Details </label>
                        <input type="text" maxlength="20" name="description[]" placeholder="Item Description" class="block w-full mb-2 px-3 py-2 border rounded text-black" value="{{ item.description }}">
                        <input type="number" maxlength="5" name="quantity[]" placeholder="Quantity" class="block w-full mb-2 px-3 py-2 border rounded text-black" value="{{ item.quantity }}">
                        <input type="number" maxlength="5" name="price[]" placeholder="Price per Item" class="block w-full mb-2 px-3 py-2 border rounded text-black" value="{{ item.price }}">
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="w-full bg-violet-700 hover:opacity-70 my-4 text-white font-bold py-2 px-4 rounded">Submit</button>
            </form>
        </div>
    </div>
</div>
    {% endfor %}


    <!-- MODAL for new entry -->
        <!-- Modal -->
        <div id="modal" class="fixed inset-0 bg-gray-500 bg-opacity-75 hidden overflow-y-auto h-full w-full" aria-labelledby="modalTitle" role="dialog" aria-modal="true">
            <div class="relative top-0 sm:top-1/4 mx-auto p-5 border w-full sm:w-1/3 shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modalTitle">New Invoice</h3>
                    <!-- Close button -->
                    <button onclick="toggleModal(false)" class="absolute top-0 right-0 mt-4 mr-4">
                        <svg class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
    
                    <!-- Form content -->
                    <form id="invoiceForm" class="mt-2" action="/invoice/newinvoice" method="post">
                        <input type="text" name="invoice_num" placeholder="Invoice Number" class="mt-2 p-2 w-full border rounded">
                        <input type="text" name="sender_address" placeholder="Sender Address" class="mt-2 p-2 w-full border rounded">
                        <input type="text" name="receiver_address" placeholder="Receiver Address" class="mt-2 p-2 w-full border rounded">
                        <div class="mt-2">
                            <label for="invoice_status">Invoice Status:</label>
                            <select name="invoice_status" id="invoice_status" class="p-2 w-full border rounded">
                                <option value="Open">Open</option>
                                <option value="Paid">Paid</option>
                                <option value="Draft">Draft</option>
                            </select>
                        </div>
                        <!-- Dynamic item fields  -->
                        <div id="itemContainer">
                            <div class="mt-4 flex flex-col">
                                <label class="font-bold">Item</label>
                                <input type="text" placeholder="Description" name="description[]" class="mt-1 p-2 w-full border rounded">
                                <input type="number" placeholder="Quantity" name="quantity[]" class="mt-1 p-2 w-full border rounded">
                                <input type="number" placeholder="Price" name="price[]" class="mt-1 p-2 w-full border rounded">
                                <button type="button" onclick="removeItem(this)" class="mt-2 text-red-500">Remove</button>
                            </div>
                        </div>
                        
                        <button type="button" onclick="addItem()" class="mt-4 mb-2 p-2 bg-green-500 hover:bg-green-700 text-white rounded">
                            Add Item
                        </button>
                        <button type="submit" class="mt-4 mb-2 p-2 bg-blue-500 hover:bg-blue-700 text-white rounded">
                            Save Invoice
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
     
        
    <!-- TODO !!! minify and move to a separate .js file -->    
    <script>
        function openSidebar(invoiceId) {
            var sidebar = document.getElementById('sidebar-' + invoiceId);
            var overlay = document.getElementById('overlay');
            if (sidebar) {
                sidebar.style.transform = 'translateX(0)';
                overlay.classList.remove('hidden');
            } else {
                console.error('Sidebar element not found for invoice ID:', invoiceId);
            }
        }

        function closeSidebar(invoiceId) {
            var sidebar = document.getElementById('sidebar-' + invoiceId);
            var overlay = document.getElementById('overlay');
            if (sidebar) {
                sidebar.style.transform = 'translateX(-100%)';
                overlay.classList.add('hidden');
            } else {
                console.error('Sidebar element not found for invoice ID:', invoiceId);
            }
        }
    </script>


    <script>
        function toggleModal(open) {
            const modal = document.getElementById('modal');
            modal.style.display = open ? 'block' : 'none';
        }

        function addItem() {
            const container = document.getElementById('itemContainer');
            const newItem = container.children[0].cloneNode(true);
            newItem.querySelectorAll('input').forEach(input => input.value = '');  // Clear input fields
            newItem.querySelector('button').style.display = 'block';  // Ensure remove button is visible
            container.appendChild(newItem);
        }
        
        function removeItem(button) {
            const item = button.parentNode;
            if (item.parentNode.childElementCount > 1) {
                item.parentNode.removeChild(item);
            } else {
                alert('You cannot remove all items.');
            }
        }
        
    </script>

</body>
</html>